# =========================
# Java & Compiled Files
# =========================
*.class
*.jar
*.war

# =========================
# Build Directories (Maven/General)
# =========================
bin/
target/
!**/src/main/**/target/
!**/src/test/**/target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# Maven Specific Files
# =========================
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# =========================
# Spring Boot & Environment
# =========================
.env
.env.*
application-secret.properties
application-secret.yml

# =========================
# Log Files
# =========================
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================
# IDE Specific Files
# =========================

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse / STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Miscellaneous
# =========================
# Java Crash Reports
hs_err_pid*

# Spring Boot default help file
HELP.md

#node
node_modules
dist
dist-ssr
*.local